* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.box_anim {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    animation: box_animated_rotate 6s linear infinite;
}

.front {
    background: red;
    height: 400px;
    width: 400px;
    text-align: center;
    font-size: x-large;
    position: relative;
    z-index: 1;
    top: 400px;
    left: 50%;
    transform: translateZ(100px);
    animation: rotate_front 6s linear infinite;
}

.front::before {
    content: "";
    background: red;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(-1px);
}

.back {
    background: blue;
    height: 400px;
    width: 400px;
    text-align: center;
    font-size: x-large;
    position: absolute;
    left: 50%;
    animation: rotate_back 6s linear infinite;
}

.back::before {
    content: "";
    background: blue;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(-1px);
}

@keyframes box_animated_rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(1turn);
    }
}

@keyframes rotate_front {
    from {
        transform: translateZ(0px) rotateZ(0deg);
    }
    to {
        transform: translateZ(51px) rotateZ(360deg);
    }
}

@keyframes rotate_back {
    from {
        transform: translateZ(51px) rotateZ(360deg);
    }
    to {
        transform: translateZ(100px) rotateZ(0deg);
    }
}



